<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>site61074.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site61074</DeployIisAppPath>
    <UserName>site61074</UserName>
    <Password>3Yz+-s2GN6!i</Password>
    <AuthType>Basic</AuthType>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <_SavePWD>True</_SavePWD>
    <PublishProvider>MSDeploy</PublishProvider>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishFramework>net8.0</PublishFramework>
    <SelfContained>False</SelfContained>
    <SiteUrlToLaunchAfterPublish>http://abuamenpharma.runasp.net/</SiteUrlToLaunchAfterPublish>
  </PropertyGroup>
</Project>
